In [5]:
import requests
import pandas as pd
import io

url = "https://raw.githubusercontent.com/BugisDev/bulukumba-data/master/pendidikan/statistik_pelajar_berdasarkan_jeniskelamin.csv"
s = requests.get(url).content
csv_data = pd.read_csv(io.StringIO(s.decode('utf-8')))
df = pd.DataFrame(csv_data)
df

,Jenjang,Sekolah,Kecematan,Laki-laki,Perempuan
0,SMA,SMAN 16 BULUKUMBA,Kec. Bontobahari,121,101
1,SMA,SMAN 3 BULUKUMBA,Kec. Bontobahari,326,477
2,SMA,SMAN 11 BULUKUMBA,Kec. Bontotiro,211,259
3,SMA,SMAN 10 BULUKUMBA,Kec. Rilau Ale,353,492
4,SMA,SMAS MUHAMMADIYAH BULUKUMBA,Kec. Ujung Bulu,73,37
5,SMA,SMAN 7 BULUKUMBA,Kec. Gantarang,260,286
6,SMA,SMAN 2 BULUKUMBA,Kec. Bulukumpa,432,611
7,SMA,SMAN 12 BULUKUMBA,Kec. Kindang,175,244
8,SMA,SMAN 8 BULUKUMBA,Kec. Ujung Bulu,362,593
9,SMA,SMAN 1 BULUKUMBA,Kec. Ujung Bulu,404,721
10,SMA,SMAN 14 BULUKUMBA,Kec. Bulukumpa,128,163
11,SMA,SMA NEGERI 19 BULUKUMBA,Kec. Gantarang,46,39
12,SMA,SMAN 4 BULUKUMBA,Kec. Bontotiro,277,318
13,SMA,SMAN 6 BULUKUMBA,Kec. Herlang,360,443
14,SMA,SMAN 17 BULUKUMBA,Kec. Rilau Ale,86,63
15,SMA,SMAS PGRI BULUKUMBA,Kec. Ujung Bulu,28,12
16,SMA,SMAS KARYA SAHARI BULUKUMBA,Kec. Ujung Bulu,142,67
17,SMA,SMAN 15 BULUKUMBA,Kec. Ujung Loe,90,91
18,SMA,SMA NEGERI 18 BULUKUMBA,Kec. Kajang,210,228
19,SMA,SMAN 13 BULUKUMBA,Kec. Kajang,116,141
20,SMA,SMAN 5 BULUKUMBA,Kec. Kajang,387,562
21,SMA,SMAN 9 BULUKUMBA,Kec. Ujung Loe,363,567
22,SMK,SMKN 8 BULUKUMBA,Kec. Bulukumpa,126,64
23,SMK,SMKN 11 BULUKUMBA,Kec. Bulukumpa,81,46
24,SMK,SMKS AL IRSYAD BULUKUMBA,Kec. Ujung Bulu,15,21
25,SMK,SMKN 1 BULUKUMBA,Kec. Ujung Bulu,590,629
26,SMK,SMKN 10 BULUKUMBA,Kec. Gantarang,127,111
27,SMK,SMKN 9 BULUKUMBA,Kec. Bontotiro,34,39
28,SMK,SMKN 2 BULUKUMBA,Kec. Kindang,124,104
29,SMK,SMKN 6 PERKAPALAN BULUKUMBA,Kec. Bontobahari,51,39
...,...,...,...,...,...
434,SD,SD NEGERI 121 EREINUNG,Kec. Herlang,27,16
435,SD,SD NEGERI 333 TIBONA,Kec. Bulukumpa,32,50
436,SD,SD NEGERI 217 KARASSING,Kec. Herlang,41,43
437,SD,SD NEGERI 49 BORONGRAPPOA.,Kec. Kindang,76,97
438,SD,SD NEGERI 268 JANNAKEKE,Kec. Bontotiro,25,21
439,SD,SD NEGERI 229 GATTARENG,Kec. Gantarang,61,57
440,SD,SD NEGERI 32 BARABBA,Kec. Gantarang,67,77
441,SD,SD NEGERI 114 MALLELENG,Kec. Kajang,56,45
442,SD,SD NEGERI 75 PETTUNGE,Kec. Bulukumpa,34,42
443,SD,SD NEGERI 316 LASSANRU,Kec. Herlang,64,57
444,SD,SD NEGERI 78 BONTOA,Kec. Bulukumpa,52,45
445,SD,SD NEGERI 115 BALAGANA,Kec. Kajang,123,105
446,SD,SD NEGERI 204 GATTARENG,Kec. Gantarang,60,42
447,SD,SD NEGERI 155 TANAH BERU,Kec. Bontobahari,93,119
448,SD,SD NEGERI 207 DAMPANG,Kec. Gantarang,43,45
449,SD,SD NEGERI 71 BARUGAE,Kec. Bulukumpa,45,47
450,SD,SD NEGERI 243 ELLEE,Kec. Bulukumpa,78,83
451,SD,SD NEGERI 8 NIPA,Kec. Ujung Bulu,73,67
452,SD,SD NEGERI 285 DASSA,Kec. Kajang,51,51
453,SD,SD NEGERI 89 BATU KAROPA,Kec. Rilau Ale,61,79
454,SD,SD NEGERI 338 JAMPANG,Kec. Kajang,77,58
455,SD,SD NEGERI 77 BONTOBAJU,Kec. Bulukumpa,24,27
456,SD,SD NEGERI 235 BORONGRAPPOA,Kec. Kindang,27,26
457,SD,SD NEGERI 55 CIBOLLO,Kec. Kindang,62,62
458,SD,SD NEGERI 205 BONTOSUNGGU,Kec. Gantarang,77,85
459,SD,SD NEGERI 193 TANUNTUNG,Kec. Herlang,59,56
460,SD,SD NEGERI 348 DOAJANG,Kec. Bontobahari,82,98
461,SD,SD NEGERI 195 EKATIRO,Kec. Bontotiro,29,27
462,SLB,SLBS ABCD DARMAWANITA HERLANG,Kec. Herlang,30,23
463,SLB,SLB NEGERI BULUKUMBA,Kec. Ujung Bulu,56,37

In [6]:
df.head()

  Jenjang                      Sekolah         Kecematan  Laki-laki  Perempuan
0     SMA            SMAN 16 BULUKUMBA  Kec. Bontobahari        121        101
1     SMA             SMAN 3 BULUKUMBA  Kec. Bontobahari        326        477
2     SMA            SMAN 11 BULUKUMBA    Kec. Bontotiro        211        259
3     SMA            SMAN 10 BULUKUMBA    Kec. Rilau Ale        353        492
4     SMA  SMAS MUHAMMADIYAH BULUKUMBA   Kec. Ujung Bulu         73         37

In [8]:
df.columns

Index([u'Jenjang', u'Sekolah', u'Kecematan', u'Laki-laki', u'Perempuan'], dtype='object')

In [10]:
jenjang = df["Jenjang"]
type(jenjang)

pandas.core.series.Series

In [11]:
type(df['Jenjang'])

pandas.core.series.Series

In [13]:
jenjang

0      SMA
1      SMA
2      SMA
3      SMA
4      SMA
5      SMA
6      SMA
7      SMA
8      SMA
9      SMA
10     SMA
11     SMA
12     SMA
13     SMA
14     SMA
15     SMA
16     SMA
17     SMA
18     SMA
19     SMA
20     SMA
21     SMA
22     SMK
23     SMK
24     SMK
25     SMK
26     SMK
27     SMK
28     SMK
29     SMK
      ...
434     SD
435     SD
436     SD
437     SD
438     SD
439     SD
440     SD
441     SD
442     SD
443     SD
444     SD
445     SD
446     SD
447     SD
448     SD
449     SD
450     SD
451     SD
452     SD
453     SD
454     SD
455     SD
456     SD
457     SD
458     SD
459     SD
460     SD
461     SD
462    SLB
463    SLB
Name: Jenjang, Length: 464, dtype: object

In [15]:
jenjang[2:5]

2    SMA
3    SMA
4    SMA
Name: Jenjang, dtype: object

In [17]:
df.Jenjang.value_counts().sort_index()

SD     349
SLB      2
SMA     22
SMK     21
SMP     70
Name: Jenjang, dtype: int64

In [19]:
df.Perempuan.value_counts().sort_index()

4      3
9      1
10     5
12     2
13     1
14     3
15     2
16     1
17     2
18     5
19     1
20     2
21     3
22     2
23     6
24     4
25     6
26     7
27     5
28     7
29     6
30     7
31     2
32     2
33     1
34     5
35     2
36     4
37     8
38     5
      ..
201    1
210    1
228    1
229    1
244    1
249    1
259    1
260    1
274    1
286    1
296    1
310    1
315    1
318    1
345    1
347    1
359    1
388    1
409    1
412    1
443    1
477    1
492    1
562    1
567    1
585    1
593    1
611    1
629    1
721    1
Name: Perempuan, Length: 165, dtype: int64

In [20]:
df.Perempuan.mean()

84.78879310344827

In [27]:
sma = df[df.Jenjang=='SMA']
sma.mean()

Laki-laki    225.000000
Perempuan    296.136364
dtype: float64

In [28]:
smp = df[df.Jenjang=='SMP']
smp.mean()

Laki-laki    115.114286
Perempuan    122.742857
dtype: float64

In [29]:
sma

,Jenjang,Sekolah,Kecematan,Laki-laki,Perempuan
0,SMA,SMAN 16 BULUKUMBA,Kec. Bontobahari,121,101
1,SMA,SMAN 3 BULUKUMBA,Kec. Bontobahari,326,477
2,SMA,SMAN 11 BULUKUMBA,Kec. Bontotiro,211,259
3,SMA,SMAN 10 BULUKUMBA,Kec. Rilau Ale,353,492
4,SMA,SMAS MUHAMMADIYAH BULUKUMBA,Kec. Ujung Bulu,73,37
5,SMA,SMAN 7 BULUKUMBA,Kec. Gantarang,260,286
6,SMA,SMAN 2 BULUKUMBA,Kec. Bulukumpa,432,611
7,SMA,SMAN 12 BULUKUMBA,Kec. Kindang,175,244
8,SMA,SMAN 8 BULUKUMBA,Kec. Ujung Bulu,362,593
9,SMA,SMAN 1 BULUKUMBA,Kec. Ujung Bulu,404,721
10,SMA,SMAN 14 BULUKUMBA,Kec. Bulukumpa,128,163
11,SMA,SMA NEGERI 19 BULUKUMBA,Kec. Gantarang,46,39
12,SMA,SMAN 4 BULUKUMBA,Kec. Bontotiro,277,318
13,SMA,SMAN 6 BULUKUMBA,Kec. Herlang,360,443
14,SMA,SMAN 17 BULUKUMBA,Kec. Rilau Ale,86,63
15,SMA,SMAS PGRI BULUKUMBA,Kec. Ujung Bulu,28,12
16,SMA,SMAS KARYA SAHARI BULUKUMBA,Kec. Ujung Bulu,142,67
17,SMA,SMAN 15 BULUKUMBA,Kec. Ujung Loe,90,91
18,SMA,SMA NEGERI 18 BULUKUMBA,Kec. Kajang,210,228
19,SMA,SMAN 13 BULUKUMBA,Kec. Kajang,116,141
20,SMA,SMAN 5 BULUKUMBA,Kec. Kajang,387,562
21,SMA,SMAN 9 BULUKUMBA,Kec. Ujung Loe,363,567

In [30]:
sd = df[df.Jenjang=='SD']
sd.mean()

Laki-laki    68.432665
Perempuan    64.656160
dtype: float64